<!-- Start of block -->
{{ partial:page_builder/{{ theme_settings:template }}/block class="hero {{
background_image ?= 'background-image' }}" }}

<div class="flex flex-col sm:flex-row justify-between sm:space-x-10">
    <div class="flex flex-col justify-center w-full">
        <!-- Header -->
        {{ partial:components/header }}

        <!-- Buttons -->
        <div class="mt-8">{{ partial:components/button }}</div>
    </div>
    <!-- Markdown -->
    <div class="flex flex-col items-end relative w-full">
        {{ partial:components/markdown class="max-w-sm"}}

        <!-- Background Image -->
        {{ if background_image:is_video }}
        <div
            class="relative aspect-square overflow-hidden mt-10 sm:mt-0 rounded-3xl"
        >
            <video
                autoplay
                muted
                loop
                playsinline
                class="w-full h-full object-cover"
            >
                <source src="{{ background_image }}" type="video/mp4" />
            </video>
        </div>
        {{ elseif background_image }}
        <img
            src="{{ background_image }}"
            class="rounded-3xl mt-10 sm:mt-0 object-cover"
        />
        {{ /if }} {{ if overlay_colour }}
        <div
            class="absolute inset-0 bg-blend-overlay mt-10 sm:mt-0 rounded-3xl bg-[{{ overlay_colour }}] bg-opacity-{{ overlay_opacity }}"
        ></div>
        {{ /if }}
    </div>
</div>

<!-- End of block -->
{{ /partial:page_builder/{{ theme_settings:template }}/block }}
